In [8]:
# Importing Libraries / Dependencies
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Loading the Data (.csv file)
df = pd.read_csv('C:\\Users\\anjali kumari\\Desktop\\Amazon Sales data.csv')

# Data Exploration & Cleaning
print("Data Shape:", df.shape)
print("First 5 Rows:")
print(df.head())
print("Column Names:", df.columns)
print("Data Information:")
df.info()

print("Null Values in Dataset:")
print(pd.isnull(df).sum())
print("Duplicate Values in Dataset:")
print(df.duplicated().value_counts())
print("Descriptive Statistics:")
print(df.describe())

print("Descriptive Statistics for Selected Columns:")
print(df[['Units Sold','Unit Price','Unit Cost','Total Revenue','Total Cost','Total Profit']].describe())

# Exporting Dataframe into csv file (Clean data)
df.to_csv('C:\\Users\\anjali kumari\\Desktop\\Clean_Sales_Data.csv',index=False)

Data Shape: (100, 14)
First 5 Rows:
                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50
Column Names: Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')
Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB
Null Values in Dataset:
Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64
Duplicate Values in Dataset:
False    100
Name: count, dtype: int64
Descriptive Statistics:
           Order ID   Units Sold  Unit Price   Unit Cost  Total Revenue  \
count  1.000000e+02   100.000000  100.000000  100.000000   1.000000e+02
mean   5.550204e+08  5128.710000  276.761300  191.048000   1.373488e+06
std    2.606153e+08  2794.484562  235.592241  188.208181   1.460029e+06
min    1.146066e+08   124.000000    9.330000    6.920000   4.870260e+03
25%    3.389225e+08  2836.250000   81.730000   35.840000   2.687212e+05
50%    5.577086e+08  5382.500000  179.880000  107.275000   7.523144e+05
75%    7.907551e+08  7369.000000  437.200000  263.330000   2.212045e+06
max    9.940222e+08  9925.000000  668.270000  524.960000   5.997055e+06

         Total Cost  Total Profit
count  1.000000e+02  1.000000e+02
mean   9.318057e+05  4.416820e+05
std    1.083938e+06  4.385379e+05
min    3.612240e+03  1.258020e+03
25%    1.688680e+05  1.214436e+05
50%    3.635664e+05  2.907680e+05
75%    1.613870e+06  6.358288e+05
max    4.509794e+06  1.719922e+06
Descriptive Statistics for Selected Columns:
        Units Sold  Unit Price   Unit Cost  Total Revenue    Total Cost  \
count   100.000000  100.000000  100.000000   1.000000e+02  1.000000e+02
mean   5128.710000  276.761300  191.048000   1.373488e+06  9.318057e+05
std    2794.484562  235.592241  188.208181   1.460029e+06  1.083938e+06
min     124.000000    9.330000    6.920000   4.870260e+03  3.612240e+03
25%    2836.250000   81.730000   35.840000   2.687212e+05  1.688680e+05
50%    5382.500000  179.880000  107.275000   7.523144e+05  3.635664e+05
75%    7369.000000  437.200000  263.330000   2.212045e+06  1.613870e+06
max    9925.000000  668.270000  524.960000   5.997055e+06  4.509794e+06

       Total Profit
count  1.000000e+02
mean   4.416820e+05
std    4.385379e+05
min    1.258020e+03
25%    1.214436e+05
50%    2.907680e+05
75%    6.358288e+05
max    1.719922e+06